.app-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-page  {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.code-dsgn {
    margin-top: 200px;
    color: #446389;
    align-self: flex-end;
    font-size: 4rem;
}

.projects-page {
    display: flex;
    flex-direction: column;
}

.project-txt-dsgn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
}

.project-txt-dsgn h1 {
    color: #446389;
}

.download-div {
    margin-top: 30px;
    width: 472px;
    display: flex;
    justify-content: flex-end;
}

.resume-btn {
    font-size: 0.9rem;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid gray;
    height: 40px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    color: gray;
    cursor: pointer;
    transition: background-color ease-in;
}

.resume-btn:hover {
    background-color: gray;
    color: white;
    transition: background-color ease-in;
}

.file-icn {
    width: 20px;
}

.download-icn {
    top: 10px;
    cursor: pointer;
    font-size: 2rem;
    color: gray;
}

.download-icn:hover {
    color: #88838a;
}

.name-bio {
    margin-top: 200px;
}

.name-bio h1, h3 {
    margin: 0;
}

.name-bio h1 {
    color: #567189;
}

.name-bio h3 {
    font-weight: 400;
    color: #88838a;
}

.home-btns {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.home-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}


.home-btn h3 {
    font-weight: 400;
}