.app-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-page  {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projects-page {
    display: flex;
    flex-direction: column;
}

.project-txt-dsgn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
}

.project-txt-dsgn h1 {
    color: #446389;
}

.download-div {
    color: gray;
    margin-top: 30px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    column-gap: 20px;
}

.download-icn {
    top: 10px;
    cursor: pointer;
    font-size: 2rem;
    color: gray;
}

.download-icn:hover {
    color: #88838a;
}

.name-bio {
    margin-top: 200px;
}

.name-bio h1, h3 {
    margin: 0;
}

.name-bio h1 {
    color: #567189;
}

.name-bio h3 {
    font-weight: 400;
    color: #88838a;
}

.home-btns {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.home-btn {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}


.home-btn h3 {
    font-weight: 400;
}