

.rounded-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.div-front h1 {
    margin: 0;
}

.div-front {
    padding: 15px 15px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #cfb997;
}

.div-front:hover {
    padding: 18px 15px;
    background-color: gray;
    transition: padding 0.2s ease-in-out;
}


.div-back {
    position: absolute;
    background-color: #c7cdd6;
    z-index: -1;
    top: 10px;
    left: 10px;
    width: 100%;
    border-radius: 25px;
    height: 100%;
}