

.rounded-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.div-front h1 {
    margin: 0;
}

.div-front {
    padding: 15px 15px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    background-color: #0CBABA;
    background: linear-gradient(to right, #9198e5, #446389);
}

.div-front:hover {
    color: #c7cdd6;
    transition: padding background-color 0.2s ease-in-out;
}


.div-back {
    position: absolute;
    background-color: #c7cdd6;
    z-index: -1;
    top: 10px;
    left: 10px;
    width: 100%;
    border-radius: 25px;
    height: 100%;
}